<div class="app-game-menu">
  <h2>Game Menu</h2>
  <div>
    <h2>Find : {{gameService.regionToFind.name}}</h2>
  </div>
  <ul>
    @for(guess of gameService.guesses; track guess){
    <li>
      {{guess.regionToFind.name}} {{guess.isCorrect}}
    </li>
    }
  </ul>
  <!-- <ul>
    @for (region of gameService.regions(); track region){
    <li>
      <button (click)="handleRegionClick(region)">
        @if(this.gameService.selectedRegions()[region.id]){
        [
        }
        {{region.name}}
        @if(this.gameService.selectedRegions()[region.id]){

        ]
        }
      </button>
    </li>
    }
  </ul> -->

</div>