:host {
  
  color:aliceblue;
  text-align: center;
  position: absolute; /* Allows the overlay to be positioned relative to its container */
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px; 
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 1000; /* Ensures the overlay is on top of other content */
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 48px;
}

