<h1> Welcome to GeoClicker</h1>
<div class="menu-container">
    <h2>
        The goal of the game is to click on the region you are prompted to find
    </h2>

    <p>
        How many click will it take to find {{gameService.numberOfQuestions}} regions?
    </p>

    <mat-form-field>
        <mat-label>Choose a Country</mat-label>
        <mat-select (selectionChange)="onSelectCountry($event.value)" [value]="gameService.selectedCountry()">
            @for(country of gameService.countries(); track country.code) {
            <mat-option [value]="country">{{country.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field> <br>
    <button (click)="gameService.startGame()" class="modern-button"> Start Game</button>
</div>