:host {
  color:aliceblue;
  text-align: left;
  position: absolute; /* Allows the overlay to be positioned relative to its container */
  bottom: 20px;
  left: 20px; 
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

p{
  padding-left: 24px;
}

.handset{
  padding-left: 0px;
  font-size: x-large;
  margin: 0px;
}

